* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #2559b6;
  --mainColorLight: #a7bce1;
  --secondaryColor: #f8d849;
  --secondaryColorLight: #fbeab9;
  --fontColorMain: #192f50;
}
