.footer {
  background: #524f4f;
  border-top: 0.25rem solid #424040;
  border-bottom: 2px solid #424040;
  padding-bottom: 0.6rem;
}

.gridrow {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 73.75rem;
}

.footerBorderBottom {
  padding-left: 0;
  padding-right: 0;
  width: 91.66667%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  float: none;
  border-bottom: 1px solid #424040;
  clear: both;
}

.footer .footerSocial {
  text-align: center;
}

.footer .footerSocial .footerSocialList {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding: 1.0625rem 0;
  width: 13.75rem;
}

.footer .footerSocial .footerSocialList .menuLinkIcon {
  width: 70%;
}

ul {
  list-style: none;
  border-bottom: 2px solid #424040;
}

a img {
  border: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.signupFormContainer {
  border-bottom: 2px solid #424040;
}

.newsletterSignup {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-bottom: 1rem;
}

.signupTitle {
  color: #3caac1;
  font-family: "Asap", sans-serif;
  font-size: 0.9375rem;
  letter-spacing: 0.06rem;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.375rem;
}

.newsletterEmail {
  width: 10.75rem;
  height: 2.8125rem;
  outline: none !important;
  border: 0 white;
  padding: 0.5625rem 0.5625rem;
}

.newsletterSubmit {
  width: 3.4125rem;
  height: 2.8125rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  background-color: #3caac1;
  color: #fff;
  border: 0;
}

.legalMentionsContainer {
  height: 3rem;
  margin-top: 0.5rem;
  border-bottom: 2px solid #424040;
}

.legalMentions {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.legalMentionsTitle {
  color: #3caac1;
  font-family: "Asap", sans-serif;
  font-size: 0.9375rem;
  letter-spacing: 0.06rem;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  height: 7vh;
}

.copyright {
  text-align: center;
  color: #fff;
}
