* {
  color: var(--fontColorMain);
}

.HomePage {
  opacity: 0;
  animation: apparition 0.6s 0.3s forwards;
}

.homeStartScreenContainer {
  width: 100vw;
  height: unset;
  background: linear-gradient(
    0deg,
    white,
    var(--mainColorLight) 60%,
    var(--mainColorLight)
  );
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homeStartScreenContainer p {
  font-family: var(--fontText);
}

.homeStartScreenContainer img {
  max-width: 100vw;
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
}

.homeStartScreenTextArea h1,
.homeStartScreenTextArea p {
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
}

.homeTitleImg {
  animation: apparition 0.8s 1s ease-out forwards;
}

.homeStartScreenTextArea h1 {
  animation: apparition 0.8s 1.2s ease-out forwards;
}

.homeStartScreenTextArea p {
  animation: apparition 0.8s 1.5s ease-out forwards;
  margin-top: 5vh;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.7rem;
}

.homeStartScreenTextArea h1 {
  font-size: 3rem;
}

.homeContent,
.homePresentationAssociation,
.homeArticles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContent h1,
.homeContent h2,
.homeContent h3 {
  font-family: var(--fontTitle);
  text-transform: uppercase;
}

.homePresentationTitleContainer h2 span {
  font-size: 1rem;
}

.separator {
  margin: 7vh 0;
}

.homePresentationTitleContainer {
  width: 350px;
  height: 100px;
  margin-top: 3vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 14px 14px 0px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 14px 14px 0px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 14px 14px 0px -1px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px var(--mainColor);
  border-left: solid 3px var(--mainColor);
  border-right: solid 3px var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: apparition 1s 2s ease-out forwards;
}

.homePresentationTitleContainer h2 {
  font-weight: 900;
  font-size: clamp(1.4rem, 2rem, 4rem);
}

.homePresentationAssociation article p {
  width: 70vw;
  margin: 1rem 1rem;
  font-size: 1.25rem;
}

.homeArticles {
  gap: 9vh;
}

.homeArticles p {
  font-family: var(--fontText);
  font-size: 1.2rem;
}

.homeArticles article {
  background-color: white;
  padding: 30px;
  box-shadow: 14px 14px 0px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 14px 14px 0px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 14px 14px 0px -1px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px var(--mainColor);
  border-left: solid 3px var(--mainColor);
  border-right: solid 3px var(--mainColor);
  border-radius: 10px;
}

.homeArticleImageContainer img {
  display: block;
  max-height: 3vh;
  margin: auto;
  margin-top: calc(2vh + 30px);
  margin-bottom: 2vh;
}

.homeSectionTitleZone {
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 0.5rem;
  margin: auto;
  background-color: white;
  font-size: 1.25em;
  font-weight: bold;
}

.homeMosaic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.homeMosaic img {
  max-width: 70vw;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

/* --- Media queries tablet--- */

@media only screen and (min-width: 600px) {
  .homeStartScreenContainer {
    align-items: center;
    position: relative;
    max-height: unset;
    height: unset;
  }

  .homeStartScreenContainer img {
    max-height: 100%;
    width: 100vw;
    object-fit: cover;
    max-width: unset;
  }

  .homeStartScreenTextArea {
    position: absolute;
    max-width: 50%;
    height: 100%;
  }

  .homeStartScreenTextArea h1,
  .homeStartScreenTextArea p {
    border-radius: 10px;
    backdrop-filter: blur(30px) brightness(1.8);
  }

  .homeStartScreenTextArea h1 {
    margin-top: 12%;
  }

  .homeStartScreenTextArea p {
    margin-top: 30%;
    font-size: 2rem;
  }
  /* Start screen end */

  .homePresentationTitleContainer h2 span {
    font-size: 1.8rem;
  }

  .homeArticles {
    width: 84vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto;
    row-gap: 3rem;
    column-gap: 2rem;
  }

  .homeValuesArticle {
    grid-column-end: span 2;
  }

  .homeMosaic {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin: 0vh 5vw;
  }

  .homePresentationAssociation article p {
    width: fit-content;
    margin: 0.5rem 1rem;
  }

  .homeMosaic img {
    max-width: 100%;
  }
}

/* --- Media queries desktop --- */

@media only screen and (min-width: 1024px) {
  .homeStartScreenContainer {
    height: 85vh;
  }

  .homePresentationTitleContainer h2 span {
    font-size: 2rem;
  }

  .homeArticles {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    row-gap: 4.5vh;
    column-gap: 2rem;
  }

  .homePresentationArticle,
  .homeMissionArticle,
  .homeValuesArticle {
    height: fit-content;
    width: 100%;
  }

  .homePresentationArticle {
    grid-column-end: span 2;
  }

  .homeMissionArticle {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .homeValuesArticle {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .homeMosaic {
    grid-template-columns: 45vw 45vw;
  }

  .homeMosaic img {
    max-width: 100%;
  }
}
