* {
  color: var(--fontColorMain);
}

.homeContent,
.homePresentationAssociation,
.homeArticles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .homePresentationAssociation, .homeMosaic {
    margin-bottom: 5vh;
} */

.separator {
  margin: 7vh 0;
}

.homePresentationAssociation h2 {
  display: inline-block;
  margin-top: 3vh;
  margin-bottom: 8vh;
  margin-left: auto;
  margin-right: auto;
  /* background-color: var(--mainColor); */
}

.homePresentationAssociation article p {
  width: 70vw;
  margin: 0.5rem 1rem;
}

.homeArticles {
  gap: 9vh;
}

.homeArticles article {
  /* background-color: var(--secondaryColorLight); */
  /* border-bottom: solid 3px var(--mainColor);
  border-left: solid 3px var(--mainColor); */
  border-radius: 20px;
  box-shadow: 
  4px 4px 10px 2px var(--mainColor),
  -4px -4px 14px 3px var(--secondaryColorLight);
}

.homeSectionTitleZone {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
  gap: 10px;
  /* background-color: var(--mainColorLight); */
}

.homeSectionTitleZone {
  width:max-content;
  position: relative;
  padding: 0.2rem;
  margin: auto;
  top: -4vh;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px var(--mainColor);
}

.homeSectionTitleZone img {
  height: 2rem;
}

.homeMosaic {
  /* margin: 5vh 0vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.homeMosaic img {
  max-width: 70vw;
}

/* --- Media queries tablet--- */

@media only screen and (min-width: 600px) {
  .homeArticles {
    width: 84vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
  }

  .homeValuesArticle {
    grid-column-end: span 2;
    height: 70%;
  }

  .homeMosaic {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin: 0vh 5vw;
  }

  .homePresentationAssociation article p {
    width: fit-content;
    margin: 0.5rem 1rem;
  }
}

/* --- Media queries desktop --- */

@media only screen and (min-width: 1024px) {
}
