* {
  color: var(--fontColorMain);
}

.HomePage {
  opacity: 0;
  animation: apparition 0.6s 0.3s forwards;
}

.homeStartScreenContainer {
  width: 100vw;
  height: 70vh;
  background: linear-gradient(
    0deg,
    white,
    var(--mainColorLight) 60%,
    var(--mainColorLight)
  );
}

.homeStartScreenContainer p {
  font-family: "Lato", sans-serif;
}

.homeStartScreenContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homeStartScreenContainer img {
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
}

.homeStartScreenTextArea h1,
.homeStartScreenTextArea p {
  display: inline-block;
  opacity: 0;
  transform: translateY(-30px);
}

.headerLogo {
  animation: apparition 0.8s 1s ease-out forwards;
}

.homeStartScreenTextArea h1 {
  animation: apparition 0.8s 1.2s ease-out forwards;
}

.homeStartScreenTextArea p {
  animation: apparition 0.8s 1.5s ease-out forwards;
}

.homeStartScreenTextArea h1 {
  margin-top: 7vh;
}

.homeStartScreenTextArea p {
  margin-top: 15vh;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.3rem;
}

.homeContent,
.homePresentationAssociation,
.homeArticles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContent h1,
.homeContent h2,
.homeContent h3 {
  font-family: var(--fontTitle);
  text-transform: uppercase;
}

.homePresentationTitleContainer h2 span {
  font-size: 1.5rem;
}

.separator {
  margin: 7vh 0;
}

.homePresentationTitleContainer {
  width: clamp(335px, 45vw, 50vw);
  height: clamp(110px, 20vh, 40vh);
  margin-top: 3vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/HomeIntroBckGround.svg");
  background-size: clamp(335px, 45vw, 50vw) clamp(110px, 20vh, 40vh);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: apparition 1s 2s ease-out forwards;
}

.homePresentationTitleContainer h2 {
  font-weight: 900;
  font-size: clamp(1.4rem, 2rem, 4rem);
}

.homePresentationAssociation article p {
  width: 70vw;
  margin: 0.5rem 1rem;
}

.homeArticles {
  gap: 9vh;
}

.homeArticles article {
  background-color: white;
  padding: 30px;
  border-bottom: solid 3px var(--mainColor);
  border-left: solid 3px var(--mainColor);
  border-right: solid 3px var(--mainColor);
  border-radius: 20px;
}

.homeArticleImageContainer img {
  display: block;
  max-height: 5vh;
  margin:auto;
  margin-top: calc(2vh + 30px);
  margin-bottom: 2vh;
}

.homeSectionTitleZone {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
  gap: 10px;
  /* -- Boxshadows & funny things -- */
  width: max-content;
  position: relative;
  padding: 0.2rem;
  margin: auto;
  top: calc(-2vh - 30px);
  background-color: white;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px var(--mainColor);
}

.homeSectionTitleZone img {
  height: 2rem;
}

.homeMosaic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.homeMosaic img {
  max-width: 70vw;
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}

/* --- Media queries tablet--- */

@media only screen and (min-width: 600px) {
  .homeStartScreenContainer {
    align-items: center;
  }

  .homeStartScreenContainer img {
    max-width: 60%;
  }

  .homePresentationTitleContainer h2 span {
    font-size: 1.8rem;
  }

  .homeArticles {
    width: 84vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
  }

  .homeValuesArticle {
    grid-column-end: span 2;
    height: 70%;
  }

  .homeMosaic {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    margin: 0vh 5vw;
  }

  .homePresentationAssociation article p {
    width: fit-content;
    margin: 0.5rem 1rem;
  }

  .homeMosaic img {
    max-width: 50vw;
  }
}

/* --- Media queries desktop --- */

@media only screen and (min-width: 1024px) {
  .homeStartScreenContainer {
    height: 70vh;
  }

  .homeStartScreenContainer img {
    display: none;
  }

  .homePresentationTitleContainer h2 span {
    font-size: 2rem;
  }

  .homeArticles {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    row-gap: 4.5vh;
    column-gap: 2rem;
  }

  .homePresentationArticle,
  .homeMissionArticle,
  .homeValuesArticle {
    height: fit-content;
    width: 100%;
  }

  .homePresentationArticle {
    grid-column-end: span 2;
  }

  .homeMissionArticle {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .homeValuesArticle {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .homeMosaic {
    grid-template-columns: 45vw 45vw;
  }

  .homeMosaic img {
    max-width: 50vw;
  }
}
