@import url("https://fonts.googleapis.com/css2?family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

/* .involve-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Asap", sans-serif;
} */

.img-love {
  margin: 0 auto 0;
  width: 50vw;
  height: 30vh;
}

/* .involve-section h2 {
  font-family: "Knewave", cursive;
}

.involve-section p {
padding-top: 1.5rem;
} */

/* .donate-block,
.join-block,
.contact-block {
  width: 95%;
  height: 100%;
  border-radius: 25px;
  margin: 3rem;
  box-shadow: 0 0 7px rgba(18, 18, 18, 0.5);
} */

/* .gift-button, .join-button {
  border-radius: 1.875rem;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  font-family: "Asap", sans-serif;
  font-size: 1rem;
  background-color: #f8d849;
}

a {
  text-decoration: none;
} */

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
h1 {
  color: #1a2f42;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px dashed gray;
}
h1 span {
  display: block;
}
h1 span:nth-child(1) {
  /* font-weight: normal; */
  color: #ed5d34;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 30px;
  margin: 80px 0;
}
.card-wrapper {
  position: relative;
  min-height: 350px;
  perspective: 2000px;
  perspective-origin: top;
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  color: #1a2f42;
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  background: #a7bce1;
  display: flex;
  flex-direction: column;
}

.card-front h2 {
  margin-bottom: 1rem;
}

.card-wrapper:nth-child(even) .card-front {
  background-color: #c2d8b9;
}

.card-front,
.card-back p {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.arrow-icon {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.card-back {
  background: #f8d849;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper:nth-child(even) .card-back {
  background-color: #f8d849;
}

.card-back:nth-child(3) {
  background-image: url("../assets/img/loveUK.png");
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper:nth-child(odd) .card-back a:hover {
  background-color: #1a2f42;
  color: #fff;
}
.card-wrapper:nth-child(even) .card-back a:hover {
  background-color: #ed5d34;
  color: #fff;
}
