/* .donate_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.donate_fr {
  grid-area: 1 / 1 / 2 / 2;
}
.donate_uk {
  grid-area: 1 / 2 / 2 / 3;
}
.join_fr {
  grid-area: 2 / 1 / 3 / 2;
}
.join_uk {
  grid-area: 2 / 2 / 3 / 3;
}
.contact_fr {
  grid-area: 3 / 1 / 4 / 2;
}
.contact_uk {
  grid-area: 3 / 2 / 4 / 3;
}

.donate_block {
  display: flex;
  flex-direction: column;
} */
