.sidebar {
  background-color: #2559b6;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 15rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.espace-admin {
  background: rgba(0, 0, 0, 0.3);
  padding: 3em 0.5em;
  width: 100%;
  text-align: center;
  border-radius: 0 0 2rem;
  text-decoration: none;
  color: white;
  border-bottom: 0.1rem solid white;
}

.disconnect {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  width: 100%;
  text-align: center;
  border-radius: 2rem 0 0;
  border-top: 0.1rem solid white;
  text-decoration: none;
  color: white;
}

.disconnect:hover {
  background: rgba(0, 0, 0, 0.3);
}

.sidebar nav ul li a {
  list-style: none;
  text-decoration: none;

  color: white;
}

.sidebar nav {
  height: 30rem;
  text-align: center;
  padding-top: 3rem;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  border: none;
  list-style: none;
}

.sidebar nav ul li ul {
  height: 7rem;
}

.sidebar nav h4 {
  background: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0 0 2rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.nav-detail {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.nav-detail:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2rem;
}

.nav-category {
  margin-bottom: 2rem;
  color: white;
}

.welcome {
  display: flex;
  flex-direction: row;
}
