thead th {
  border: 2px solid;
  text-align: center;
  background-color: #a7bce1;
}
tbody td {
  border: 1px solid;
  text-align: center;
  width: 150px;
}
#members-table {
  display: block;
  justify-content: space-around;
  margin-top: 50px;
}
